body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  background-image: linear-gradient(to top, rgba(89, 106, 114, 0.6), rgba(206, 220, 23, 0.4)), url("./images/fon.jpg");
  background-size: cover;
}

.about {
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  background-color: rgb(223, 205, 212);
  border-radius: 0 60px 0 60px;
}

.about > div{
  padding: 0px 10% 0 10%;
}

img{
  border-radius: 8px;
}

#logo{
  transform: rotate(20deg);
}

.myeduc{
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  background-color: rgb(223, 240, 240);
  border-radius: 0 60px 0 60px;
}

.znodpa{
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  background-color: rgb(223, 240, 233);
  border-radius: 0 60px 0 60px;
}

.work{
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  background-color: rgb(240, 231, 223);
  border-radius: 0 60px 0 60px;
}

.norm{
  padding: 24px;
  margin: 0px;
  min-height: 280px;
  background-color: rgb(240, 223, 235);
  border-radius: 0 60px 0 60px;
}